@font-face {
  font-family: 'lixunkejingdianxingshu';
  src: url('font/lixunkejingdianxingshu.eot');
  src: url('font/lixunkejingdianxingshu.eot?#font-spider') format('embedded-opentype'), url('font/lixunkejingdianxingshu.woff2') format('woff2'), url('font/lixunkejingdianxingshu.woff') format('woff'), url('font/lixunkejingdianxingshu.ttf') format('truetype'), url('font/lixunkejingdianxingshu.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
main {
  position: fixed;
  writing-mode: horizontal-tb;
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
  font-size: 2.5vh;
  font-weight: bold;
  top: 1em;
  bottom: 40px;
  left: 0;
  right: 380px;
}
@media (max-aspect-ratio: 1/1) {
  main {
    font-size: 2.5vw;
    top: 48px;
    bottom: 420px;
    left: 0;
    right: 0;
  }
}
#name {
  font-family: 'lixunkejingdianxingshu';
  font-weight: normal;
  font-size: 4em;
  color: #fff;
  margin: auto;
  display: block;
  inline-size: 1em;
  text-align: center;
  background-position: center top;
  background-repeat: no-repeat;
}
@media (max-aspect-ratio: 1/1) {
  #name {
    inline-size: auto;
  }
}
#pinyin {
  font-family: Georgia;
}
@media (max-aspect-ratio: 1/1) {
  #pinyin {
    font-size: 1.5em;
  }
}
#RGBcolor,
#CMYKcolor {
  padding-block-start: 1em;
  line-height: 1em;
}
#RGBcolor span,
#CMYKcolor span {
  display: inline-block;
  position: relative;
  padding-inline: 0.3em;
}
#RGBcolor span::before,
#CMYKcolor span::before {
  position: absolute;
  font-size: 0.6em;
  line-height: 1em;
  inset-block-end: 100%;
  inset-inline-start: 0;
}
@media (max-aspect-ratio: 1/1) {
  #RGBcolor,
  #CMYKcolor {
    font-size: 1.5em;
  }
}
#CMYKcolor span:nth-child(1) {
  color: #0093d3;
}
#CMYKcolor span:nth-child(1)::before {
  content: 'C';
}
#CMYKcolor span:nth-child(2) {
  color: #cc006b;
}
#CMYKcolor span:nth-child(2)::before {
  content: 'M';
}
#CMYKcolor span:nth-child(3) {
  color: #fff10c;
}
#CMYKcolor span:nth-child(3)::before {
  content: 'Y';
}
#CMYKcolor span:nth-child(4) {
  color: #000000;
}
#CMYKcolor span:nth-child(4)::before {
  content: 'K';
}
#RGBcolor {
  padding-block-end: 1em;
}
#RGBcolor span {
  padding-inline: 0.1em;
}
#RGBcolor span::after {
  position: absolute;
  font-size: 0.6em;
  line-height: 1em;
  inset-block-start: 100%;
  inset-inline-start: 0;
}
#RGBcolor span:nth-child(1) {
  color: #ff0000;
}
#RGBcolor span:nth-child(1)::before {
  content: 'R';
}
#RGBcolor span:nth-child(1)::after {
  content: attr(data-dec);
}
#RGBcolor span:nth-child(2) {
  color: #00ff00;
}
#RGBcolor span:nth-child(2)::before {
  content: 'G';
}
#RGBcolor span:nth-child(2)::after {
  content: attr(data-dec);
}
#RGBcolor span:nth-child(3) {
  color: #0000ff;
}
#RGBcolor span:nth-child(3)::before {
  content: 'B';
}
#RGBcolor span:nth-child(3)::after {
  content: attr(data-dec);
}
