#colors {
  position: relative;
  margin: 0;
  padding: 0;
  padding-block: 8px;
  inline-size: 380px;
  margin-inline-start: auto;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  overflow: auto;
  overflow-wrap: anywhere;
  font-size: 12px;
  box-sizing: border-box;
  gap: 12px;
}
@media (max-aspect-ratio: 1/1) {
  #colors {
    /* footer 留出空间*/
    margin-bottom: 40px ;
  }
}
#colors a {
  position: absolute;
  border-inline-start: 6px solid var(--color);
  box-sizing: border-box;
  color: #FFF;
  inline-size: 380px;
  block-size: 50px;
  background-repeat: no-repeat;
  list-style: none;
  display: grid;
  grid-template-areas: 'name pinyin' 'cmyk rgb-lines' 'cmyk rgb';
  grid-template-columns: 160px 1fr;
  grid-template-rows: 25px 7px 18px;
  transition: background-color 0.15s linear;
  text-decoration: none;
}
#colors a[hidden] {
  display: none;
}
#colors a:hover {
  opacity: 0.3;
  transition-duration: 0.3s;
  transition-property: color, background-color, opacity;
}
#colors .name {
  grid-area: name;
  block-size: 25px;
  opacity: 0.6;
  font-family: 'Microsoft YaHei', '微软雅黑', Helvetica;
  padding-inline-start: 8px;
}
#colors .cmyk {
  grid-area: cmyk;
  block-size: 25px;
  display: flex;
  justify-content: space-evenly;
}
#colors .cmyk > :nth-child(1) {
  color: #0093d3;
}
#colors .cmyk > :nth-child(2) {
  color: #cc006b;
}
#colors .cmyk > :nth-child(3) {
  color: #fff10c;
}
#colors .cmyk > :nth-child(4) {
  color: #000000;
}
#colors .pinyin {
  grid-area: pinyin;
  block-size: 25px;
  font-size: 0.8em;
  line-height: 25px;
  font-family: arial;
  text-transform: uppercase;
}
#colors .rgb-lines {
  grid-area: rgb-lines;
  block-size: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#colors .rgb-lines * {
  background: #fff3;
  block-size: 1px;
}
#colors .rgb-lines *::before {
  content: '';
  display: block;
  background: currentColor;
  block-size: 1px;
  inline-size: var(--percents);
}
#colors .rgb-lines > :nth-child(1) {
  color: #FF0000;
}
#colors .rgb-lines > :nth-child(2) {
  color: #00FF00;
}
#colors .rgb-lines > :nth-child(3) {
  color: #0000FF;
}
#colors .rgb {
  block-size: 18px;
  line-height: 18px;
  grid-area: rgb;
  font-size: 0.8em;
  font-family: Helvetica;
  text-transform: uppercase;
}
